@page "/choose"
@rendermode InteractiveServer

<NavbarComp User="User"/>

<div class="page-container">
    <div class="interests-container">
        <div class="header">
            <h3 class="header-text">Vælg nogle interesser du er interesseret i</h3>
        </div>
        <div class="interests">
            @if (AllInterests != null && User != null && User.UserInfo != null)
            {
                @foreach (Interests i in AllInterests)
                {
                    if (User.UserInfo.interests.Contains(i))
                    {
                        <div class="interest">
                            <input class="input-checkbox" checked="checked" type="checkbox" @onclick="() => RemoveFromInterestsAsync(i)" />
                            <p>@i.Interest</p>
                        </div>
                    }
                    else
                    {
                        <div class="interest">
                            <input class="input-checkbox" type="checkbox" @onclick="() => AddTooInterestsAsync(i)" />
                            <p>@i.Interest</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="skills-container">
        <div class="header">
            <h3 class="header-text">Vælg nogle færdigheder som du helst ville arbejde med</h3>
        </div>
        <div class="skills">
            @if (AllInterests != null && User != null && User.UserInfo != null)
            {
                @foreach (Skills s in AllSkills)
                {
                    if (User.UserInfo.Skills.Contains(s))
                    {
                        <div class="skill">
                            <input class="input-checkbox" checked="checked" type="checkbox" @onclick="() => RemoveFromSkillsAsync(s)" />
                            <p>@s.Skill</p>
                        </div>
                    }
                    else
                    {
                        <div class="skill">
                            <input class="input-checkbox" type="checkbox" @onclick="() => AddTooSkillsAsync(s)" />
                            <p>@s.Skill</p>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="buttons">
        <button class="button">Gem</button>
    </div>
</div>