body {
}
.container {
    margin-top: 10vh;
}
.background {
    display: flex;
    flex-direction: column;
    background-color: #2562FF;
    align-items: center;
}
.header {
    justify-content: center;
}
.header-text {
    color: white;
    font-size: 28px;
}
.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 80%;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 10px;
}
.buttons {
    margin-top: 2%;
    display: flex;
    justify-content: right;
}
.button {
    border: 0px;
    border-radius: 10px;
    background-color: #2562FF;
    color: white;
}
.skills-interests {
    display: flex;
    width: 80%;
    justify-content: space-between;
    color: white;
}
.skills-container {

}
.interests-container {

}
.skills-interests-header {
    width: 60vh;
}
.skills-interests-inputs {
    display: flex;
    flex-wrap: wrap;
}
.skills-interests-input {
    display: flex;
    flex-direction: row;
}
.interests-only-inputs {
    justify-content: flex-end;
}
.skills-interests-checkbox {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 5px;
}
.skills-interests-name {
}
.skills-interests-space {
    width: 5%;
}
@media all and (max-width: 1200px) {
    .skills-interests {
        flex-direction: column;
    }
    .interests-only-inputs {
        justify-content: flex-start;
    }
}