@page "/login"
@rendermode InteractiveServer

<script scr="localStorage.js"></script>

<NavbarComp />

<div class="container">
    <div class="background">
        <div class="header">
            <h2 class="header-text">Log in</h2>
        </div>
        <div class="inputs">
            <input class="input" placeholder="Username" @bind="Username" />
            <input class="input" type="password" placeholder="Password" @bind="Password" />
        </div>
        <div class="buttons">
            <button class="button" @onclick="GoToSignUpAsync">Sign up</button>
            <button class="button" @onclick="LogUserInAsync">Log in</button>
        </div>
    </div>
</div>
