@page "/signup"
<NavbarComp />

<div class="container">
    <div class="background">
        <div class="header">
            <h2 class="header-text">Sign up</h2>
        </div>
        <div class="inputs">
            <input class="input" placeholder="Username" />
            <input class="input" type="password" placeholder="Password" />
            <input class="input" type="password" placeholder="Gentag password" />
        </div>
        <div class="buttons">
            <button class="button">Gå tilbage</button>
            <button class="button">Sign up</button>
        </div>
    </div>
</div>
