@page "/signup"
@rendermode InteractiveServer


<NavbarComp />

<div class="container">
    <div class="background">
        <div class="header">
            <h2 class="header-text">Sign up</h2>
        </div>
        <div class="inputs">
            <input class="input" placeholder="Username" @bind="Username" />
            <input class="input" type="password" placeholder="Password" @bind="Password" />
            <input class="input" type="password" placeholder="Gentag password" @bind="RepeatedPassword"/>
            <div class="checkbox-container">
                <input class="input-checkbox" type="checkbox" @bind="IsVoluntary" />
                <p class="checkbox-text">Er du frivillig?</p>
            </div>
        </div>
        <div class="buttons">
            <button class="button" @onclick="GoBackToLogInAsync">Gå tilbage</button>
            <button class="button" @onclick="SignUserUpAsync">Sign up</button>
        </div>
    </div>
</div>
