body {
}
.inputs {
    display: flex;
    flex-direction: column;
    color: #2562FF;
}
.input {

}
input {
    background-color: red;
    color: purple;
}
.buttons {

}
.button {
    background-color: red;
    color: purple;
}