<div class="my-nav text-white">
    <div class="header">
        <h2 @onclick="GoToHomePageAsync" class="header-text">Frivillig hjemmeside</h2>
    </div>
    @if(User != null)
    {
        <div class="user-info">
            <h4 class="username" @onclick="GoToProfilePageAsync">@User.Username</h4>
            <img class="user-picture" @onclick="GoToProfilePageAsync" src="https://cdn-icons-png.freepik.com/512/1144/1144760.png?ga=GA1.1.653085772.1714984535" />
        </div>
    }
</div>